@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
@import "tailwindcss";
@theme{
    --breakpoint-579: 579px;
    --breakpoint-777: 777px;
    --breakpoint-1604:1604px;
    --breakpoint-1585: 1585px;
    --breakpoint-1560: 1560px;
     --breakpoint-1545: 1545px;
      --breakpoint-1520: 1520px;
      --breakpoint-1475: 1475px;
      --breakpoint-1440: 1440px;
      --breakpoint-lg1: 1400px;
      --breakpoint-1365: 1365px;
      --breakpoint-1305: 1305px;
    --breakpoint-1200: 1200px;
    --breakpoint-1040: 1040px;
     --breakpoint-1010: 1010px;
     --breakpoint-970: 970px;
    --breakpoint-885: 885px;
     --breakpoint-750: 750px;
      --breakpoint-620: 620px;
    --breakpoint-500: 500px;
   
    --color-verte : #057e2b;
    --color-grise : #555555;

    --animate-playVids: playVids 1s ease-out infinite;
  @keyframes playVids {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.8);
    }
  }
}
h2{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}
p{
    font-family: "kanit", sans-serif;
    font-weight: 300;
}
.para{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}
.colorBlanche{
    color: #4376fb0f
}

@media screen and (min-width: 1024px){
    .para{
        font-weight: 600;
    } 
}